<div class=" infos">
  <h1 class="title">Habilidades.</h1><br>
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-md-4 col-lg-4 icons" onmouseover="showRails()" onmouseout="hideRails()">
          <%= image_tag '/images/rails.svg', width: 64%>
        </div>
        <div class="col-md-4 col-lg-4 icons" onmouseover="showGraphql()" onmouseout="hideGraphql()">
          <%= image_tag '/images/graphql.svg', width: 64%>
        </div>
        <div class="col-md-4 col-lg-4 icons"  onmouseover="showHeroku()" onmouseout="hideHeroku()">
          <%= image_tag '/images/heroku.svg', width: 64%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-lg-4 icons" onmouseover="showRuby()" onmouseout="hideRuby()">
          <%= image_tag '/images/ruby.svg', width: 64%>
        </div>
        <div class="col-md-4 col-lg-4 icons" onmouseover="showPostgresql()" onmouseout="hidePostgresql()">
          <%= image_tag '/images/postgresql.svg', width: 64%>
        </div>
        <div class="col-md-4 col-lg-4 icons" onmouseover="showGit()" onmouseout="hideGit()">
          <%= image_tag '/images/git.svg', width: 64%>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-lg-4 icons" onmouseover="showLaravel()" onmouseout="hideLaravel()">
          <%= image_tag '/images/laravel.svg', width: 64%>
        </div>
        <div class="col-md-4 col-lg-4 icons" onmouseover="showRspec()" onmouseout="hideRspec()">
          <%= image_tag '/images/rspec.svg', width: 64%>
        </div>
        <!-- 
        <div class="col-md-4 col-lg-4 icons" onmouseover="showGo()" onmouseout="hideGo()">
          <%= image_tag '/images/go.svg', width: 64%>
        </div>
        -->
      </div>
    </div>
    <div class="col-lg-5 desc">
      <div class="rails loren">
        Ruby on Rails é um framework livre que promete aumentar velocidade e 
        facilidade no desenvolvimento de sites orientados a banco de dados, 
        uma vez que é possível criar aplicações com base em estruturas pré-definidas.
      </div>
      <div class="graphql loren">
        GraphQL é uma linguagem de consulta criada pelo Facebook em 2012 e lançada 
        publicamente em 2015. É considerada uma alternativa para arquiteturas REST, 
        além de oferecer um serviço runtime para rodar comandos e consumir uma API.
      </div>
      <div class="heroku loren">
        Heroku é uma plataforma de nuvem como serviço que suporta 
        várias linguagens de programação. Uma das primeiras plataformas em 
        nuvem, o Heroku está em desenvolvimento desde junho de 2007, quando 
        suportava apenas a linguagem de programação Ruby, mas agora 
        suporta Java, Node.js, Scala, Clojure, Python, PHP e Go.
      </div>
      <div class="ruby loren">
        Ruby é uma linguagem de programação interpretada multiparadigma, 
        de tipagem dinâmica e forte, com gerenciamento de memória automático, 
        originalmente planejada e desenvolvida no Japão em 1995, 
        por Yukihiro "Matz" Matsumoto, para ser usada como linguagem de script.
      </div>
      <div class="postgresql loren">
        PostgreSQL é um sistema gerenciador de banco de dados objeto relacional, 
        desenvolvido como projeto de código aberto.
      </div>
      <div class="git loren">
        Git é um sistema de controle de versões distribuído, 
        usado principalmente no desenvolvimento de software, mas 
        pode ser usado para registrar o histórico de edições de qualquer tipo de arquivo.
      </div>
      <div class="laravel loren">
        Laravel é um framework PHP livre e open-source criado por 
        Taylor B. Otwell para o desenvolvimento de sistemas web que utilizam o padrão MVC.
      </div>
      <div class="rspec loren">
        RSpec é uma ferramenta de teste de linguagem específica
        do domínio do computador escrita na linguagem de 
        programação Ruby para testar o código Ruby.
        É uma estrutura de desenvolvimento orientada 
        por comportamento que é amplamente usada em aplicativos de produção.
      </div>
      
      <%# <div class="go">
        conubia semper adipiscing. augue nisi tellus malesuada ornare elementum vulputate<br>
        neque pharetra, nisl non ante hendrerit auctor hendrerit<br>
        turpis vivamus quis, facilisis neque primis
      </div> %>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  let rails = document.querySelector(".rails")
  let graphql = document.querySelector(".graphql")
  let heroku = document.querySelector(".heroku")
  let ruby = document.querySelector(".ruby")
  let postgresql = document.querySelector(".postgresql")
  let git = document.querySelector(".git")
  let laravel = document.querySelector(".laravel")
  let rspec = document.querySelector(".rspec")
  // let go = document.querySelector(".go")

  // mostra a rails
  function showRails(){   
    rails.style.display = "block";
  }
  // esconde a rails
  function hideRails(){
    rails.style.display = "none"; 
  }
  function showGraphql(){   
    graphql.style.display = "block";
  }
  // esconde a graphql
  function hideGraphql(){
    graphql.style.display = "none"; 
  }
  function showHeroku(){   
    heroku.style.display = "block";
  }
  // esconde a heroku
  function hideHeroku(){
    heroku.style.display = "none"; 
  }
  function showRuby(){   
    ruby.style.display = "block";
  }
  // esconde a ruby
  function hideRuby(){
    ruby.style.display = "none"; 
  }
  function showPostgresql(){   
    postgresql.style.display = "block";
  }
  // esconde a postgresql
  function hidePostgresql(){
    postgresql.style.display = "none"; 
  }
  function showGit(){   
    git.style.display = "block";
  }
  // esconde a git
  function hideGit(){
    git.style.display = "none"; 
  }
  function showLaravel(){   
    laravel.style.display = "block";
  }
  // esconde a laravel
  function hideLaravel(){
    laravel.style.display = "none"; 
  }
  function showRspec(){   
    rspec.style.display = "block";
  }
  // esconde a rspec
  function hideRspec(){
    rspec.style.display = "none"; 
  }
  // function showGo(){   
  //   go.style.display = "block";
  // }
  // // esconde a go
  // function hideGo(){
  //   go.style.display = "none"; 
  // }
</script>